.dropShadow {
  -webkit-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1);
  behavior: url('/js/PIE.htc');
}
/*Lichoběžník*/
a {
  color: #ffffff;
  -moz-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -ms-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -o-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -webkit-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  background: transparent;
}
a.active,
a:hover {
  color: #797979;
  text-decoration: none;
  background: transparent;
}
body {
  background-color: transparent;
  background-image: url('../images/bg/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.container .row {
  margin-right: 0;
}
.nav-row {
  min-height: 38px;
  max-height: 999px;
  line-height: 34px;
  background: #000000;
}
.column-left {
  padding: 0;
  padding-left: 15px;
  padding-right: 8px;
}
.column-right {
  padding: 0;
  padding-right: 8px;
  max-width: 342px;
}
.language-box {
  max-width: 342px;
}
/* Large desktop */
@media (min-width: 1600px) {
  .container {
    width: 90%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    background-image: none;
  }
  .column-left {
    padding-right: 0;
  }
}
.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}
.wysiwyg h1 a,
.wysiwyg h2 a,
.wysiwyg h3 a,
.wysiwyg h4 a {
  color: #ffffff;
  -moz-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -ms-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -o-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -webkit-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  background: transparent;
}
.wysiwyg h1 a.active,
.wysiwyg h2 a.active,
.wysiwyg h3 a.active,
.wysiwyg h4 a.active,
.wysiwyg h1 a:hover,
.wysiwyg h2 a:hover,
.wysiwyg h3 a:hover,
.wysiwyg h4 a:hover {
  color: #797979;
  text-decoration: none;
  background: transparent;
}
.wysiwyg h1 a,
.wysiwyg h2 a,
.wysiwyg h3 a,
.wysiwyg h4 a {
  font-size: 24px;
}
.wysiwyg h4 {
  font-size: 18px;
}
.wysiwyg h5 a {
  color: #ffffff;
}
.wysiwyg strong {
  color: #ffffff;
}
.wysiwyg div {
  color: #ffffff;
}
.wysiwyg span.position {
  color: #EAEAEA;
}
.wysiwyg p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
  margin: 6px 0;
  text-align: justify;
}
.wysiwyg .left {
  float: left;
  margin-top: 6px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.wysiwyg .right {
  float: right;
  margin-top: 6px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.wysiwyg ul {
  margin: 10px 0;
  padding: 0;
  margin-left: 15px;
}
.wysiwyg ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.wysiwyg ol {
  margin: 10px 0;
  padding: 0;
  margin-left: 15px;
}
.wysiwyg ol li {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.wysiwyg table {
  margin: 0;
  border-collapse: collapse;
}
.wysiwyg table td {
  border: 1px solid #333;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
  padding: 3px;
}
.wysiwyg a {
  font-size: 12px;
}
.wysiwyg a {
  color: #ffa22c;
  -moz-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -ms-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -o-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -webkit-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  background: transparent;
}
.wysiwyg a.active,
.wysiwyg a:hover {
  color: #797979;
  text-decoration: none;
  background: transparent;
}
.wysiwyg form label {
  color: #FFFFFF;
  font-size: 12px;
  padding-right: 10px;
}
.wysiwyg form input[type=text],
.wysiwyg form input[type=email] {
  height: 28px;
}
.wysiwyg form input[type=text],
.wysiwyg form input[type=email],
.wysiwyg form textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  position: relative;
  behavior: url('/js/PIE.htc');
  font-size: 12px;
  color: #797979;
}
.wysiwyg form input[type=submit] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  position: relative;
  behavior: url('/js/PIE.htc');
  font-size: 12px;
  background: #b90000;
  border: 0;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 76px;
}
.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 76px;
}
.wrapper {
  /*
@media (min-width: 992px) and (max-width: 1042px) {  
	nav.navbar {
		.navbar-nav {
			li {
				a {
					padding: 0 5px;
				}
			}
		}
	}	
}

*/
  /* Landscape phone to portrait tablet */
  /* Landscape phone to portrait tablet */
}
.wrapper nav.navbar {
  margin-bottom: 27px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  position: relative;
  behavior: url('/js/PIE.htc');
}
.wrapper nav.navbar .navbar-collapse {
  padding-right: 0px;
}
.wrapper nav.navbar .navbar-header {
  margin-left: 10px;
}
.wrapper nav.navbar .navbar-brand {
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
  list-style-type: none;
  background: none;
  border-radius: 0;
  box-shadow: none;
  line-height: normal;
  position: static;
  float: none;
  height: auto;
  width: auto;
  font-size: 23px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  line-height: 34px;
}
.wrapper nav.navbar .navbar-nav {
  float: right;
  margin-right: 10px;
}
.wrapper nav.navbar .navbar-nav li a {
  color: #ffffff;
  -moz-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -ms-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -o-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -webkit-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  background: transparent;
}
.wrapper nav.navbar .navbar-nav li a.active,
.wrapper nav.navbar .navbar-nav li a:hover {
  color: #797979;
  text-decoration: none;
  background: transparent;
}
.wrapper nav.navbar .navbar-nav li a {
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
  list-style-type: none;
  background: none;
  border-radius: 0;
  box-shadow: none;
  line-height: normal;
  position: static;
  float: none;
  height: auto;
  width: auto;
  font-size: 15px;
  line-height: 34px;
  padding: 0 8px;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  text-transform: lowercase;
}
.wrapper nav.navbar .navbar-toggle {
  margin-top: 3px;
  padding: 7px 6px;
}
.wrapper .logo {
  margin-left: 10px;
}
.wrapper .language-box .lang {
  display: block;
  float: right;
  /* Fallback for web browsers that doesn't support RGBa */
  background: #ffffff transparent;
  /* RGBa with 0.6 opacity */
  background: rgba(255, 255, 255, 0.3);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  background-repeat: no-repeat;
  background-position: 12px center;
  text-align: right;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 5px 12px;
  width: 135px;
}
.wrapper .language-box .lang.en {
  background-image: url(../images/lang/en.png);
}
@media (min-width: 1344px) {
  .wrapper .logo {
    margin-left: 20px;
  }
  .wrapper nav.navbar {
    padding-left: 20px;
  }
  .wrapper .language-box {
    margin-left: -8px;
  }
}
@media (max-width: 1344px) {
  .wrapper nav.navbar .navbar-brand {
    font-size: 18px;
  }
  .wrapper .top-menu,
  .wrapper .logo-box {
    width: 74%;
  }
  .wrapper .language-box {
    padding-right: 8px;
  }
}
@media (max-width: 767px) {
  .wrapper nav.navbar .navbar-brand {
    font-size: 18px;
  }
  .wrapper nav.navbar .navbar-nav {
    width: 100%;
  }
  .wrapper .logo {
    display: none;
  }
}
@media (max-width: 1048px) {
  .wrapper .column-content-right {
    width: auto !important;
    float: none !important;
    clear: both;
  }
  .wrapper .content-right {
    width: auto !important;
    float: none !important;
  }
  .wrapper .content-nav {
    width: auto !important;
    float: none !important;
  }
  .wrapper .top-menu {
    width: 100%;
  }
  .wrapper .language-box {
    position: absolute;
    top: 0;
    right: 0;
  }
  .wrapper nav.navbar .navbar-nav li a {
    padding: 0 5px;
  }
}
.wrapper .fb-feed {
  background: #ffffff;
  margin-top: 20px;
  overflow: hidden;
  width: 300px;
}
.wrapper .calendar {
  color: #ffffff;
}
.wrapper .calendar .cal-nav {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.wrapper .calendar .cal-box {
  font-family: "Arial";
  background: #000000;
  line-height: normal;
}
.wrapper .calendar .cal-box table {
  width: 100%;
}
.wrapper .calendar .cal-box table thead tr td {
  height: 18px;
  font-size: 10px;
  padding-left: 2px;
  text-align: center;
}
.wrapper .calendar .cal-box table tbody tr td {
  height: 26px;
  border: 1px solid #363636;
  font-size: 11px;
  text-align: center;
}
.wrapper .calendar .cal-box table tbody tr td.event a {
  color: #ffffff;
  background: #b90000;
  display: block;
  height: 26px;
  line-height: 26px;
}
.wrapper .calendar .cal-box table tbody tr td.event a {
  color: #ffffff;
  -moz-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -ms-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -o-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -webkit-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  background: #b90000;
}
.wrapper .calendar .cal-box table tbody tr td.event a.active,
.wrapper .calendar .cal-box table tbody tr td.event a:hover {
  color: #000000;
  text-decoration: none;
  background: #ffffff;
}
.wrapper .calendar .cal-box table tbody tr td.today {
  color: #797979;
}
.wrapper .calendar .cal-box table tbody tr td:first-child {
  border-left: 0;
}
.wrapper .calendar .cal-box table tbody tr td:last-child {
  border-right: 0;
}
@media (max-width: 1048px) {
  .wrapper .calendar {
    display: none;
  }
  .wrapper .fb-feed {
    display: none;
  }
}
.wrapper .social-column {
  padding: 0;
  max-width: 108px;
}
.wrapper .social {
  text-align: center;
}
.wrapper .social a img {
  margin-right: 3px;
}
@media (max-width: 1344px) {
  .wrapper .social-column {
    display: block;
    width: 25%;
    margin-top: 10px;
  }
}
@media (max-width: 1048px) {
  .wrapper .social-column {
    max-width: 9999px;
    width: 98%;
  }
}
.wrapper .content .bx-wrapper {
  max-height: 600px;
  overflow: hidden;
}
.wrapper .content .bxslider {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
.wrapper .content .bxslider img {
  width: 100%;
}
.wrapper .content .bxslider li {
  list-style-type: none;
}
.wrapper .content .bx-wrapper .bx-controls {
  display: none;
}
.wrapper .content .column-content-right {
  padding-right: 17px;
}
.wrapper .content .content-right {
  float: right;
  width: 100%;
}
.wrapper .content .content-nav {
  /* Fallback for web browsers that doesn't support RGBa */
  background: #000000 transparent;
  /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.8);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  margin-bottom: 10px;
  float: right;
}
.wrapper .content .content-nav ul {
  margin: 0;
  padding: 0;
  padding: 0 16px;
  padding-bottom: 0;
}
.wrapper .content .content-nav ul li {
  display: inline-block;
}
.wrapper .content .content-nav ul li a {
  color: #ffffff;
  -moz-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -ms-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -o-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -webkit-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  background: transparent;
}
.wrapper .content .content-nav ul li a.active,
.wrapper .content .content-nav ul li a:hover {
  color: #ffffff;
  text-decoration: none;
  background: transparent;
}
.wrapper .content .content-nav ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 40px;
  padding-right: 6px;
  text-transform: lowercase;
}
.wrapper .content .content-nav ul li a.active {
  text-decoration: underline;
}
.wrapper .content .content-nav ul li.brand {
  margin-right: 15px;
  font-weight: bold;
}
.wrapper .content .content-nav ul li.brand a {
  text-transform: uppercase;
  letter-spacing: unset;
}
.wrapper .content .content-nav ul li.brand a.active {
  text-decoration: none;
}
.wrapper .content .content-nav ul li:last-child a {
  padding-right: 0;
}
.wrapper .content .content-nav ul li:nth-child(5) {
  position: absolute;
}
.wrapper .content .content-nav ul li:nth-child(6) {
  position: absolute;
  right: 60px;
}
.wrapper .content .content-text {
  clear: both;
}
.wrapper .content .content-text .box {
  /* Fallback for web browsers that doesn't support RGBa */
  background: #000000 transparent;
  /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  margin-bottom: 10px;
}
.wrapper .content .content-text .box {
  padding: 12px 16px;
}
.wrapper .content .content-text .date-select {
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}
.wrapper .content .content-text .date-select a {
  color: #ffffff;
}
.wrapper .content .content-text.archive h5 {
  margin: 2px 0;
}
.wrapper .content .content-text.archive strong {
  margin: 10px 0;
  display: block;
}
@media (min-width: 1344px) {
  .wrapper .content {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .wrapper .content .content-right {
    float: none;
  }
  .wrapper .content .content-right .content-nav {
    float: none;
  }
}
@media (max-width: 1048px) {
  .wrapper .content .bxslider {
    display: none;
  }
  .wrapper .content .column-content-right {
    padding-left: 30px;
  }
}
.wrapper footer {
  width: 100%;
}
.wrapper footer .footer-content {
  /* Fallback for web browsers that doesn't support RGBa */
  background: #ffffff transparent;
  /* RGBa with 0.6 opacity */
  background: rgba(255, 255, 255, 0.3);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  width: 100%;
  line-height: 35px;
  font-family: "Open Sans", sans-serif;
}
.wrapper footer .footer-content .row {
  width: 80%;
}
.wrapper footer .footer-content .row .col-md-8 {
  width: auto;
}
.wrapper footer .footer-content .row .col-md-4 {
  width: auto;
}
.wrapper footer .footer-content .partners {
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 10px;
}
.wrapper footer .footer-content .partners a {
  margin-right: 10px;
}
.wrapper footer .footer-content .partners-headering {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 15px;
  text-transform: lowercase;
  letter-spacing: 2px;
  margin-right: 40px;
  margin-left: 10px;
}
.wrapper footer .footer-content a {
  color: #ffffff;
  -moz-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -ms-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -o-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -webkit-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  background: transparent;
}
.wrapper footer .footer-content a.active,
.wrapper footer .footer-content a:hover {
  color: #797979;
  text-decoration: none;
  background: transparent;
}
.wrapper footer .footer-content i {
  color: #ffffff;
}
.wrapper footer .footer-content a {
  font-size: 12px;
}
.wrapper footer .copy {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-align: right;
}
.wrapper footer .copy a {
  color: #ffffff;
  -moz-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -ms-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -o-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  -webkit-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
  background: transparent;
}
.wrapper footer .copy a.active,
.wrapper footer .copy a:hover {
  color: #797979;
  text-decoration: none;
  background: transparent;
}
@media (max-width: 1048px) {
  .wrapper footer {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .wrapper footer {
    width: 100%;
  }
  .wrapper footer .footer-content .partners-headering {
    color: #000000;
  }
  .wrapper footer .footer-content .copy {
    color: #000000;
  }
  .wrapper footer .footer-content .copy a {
    color: #000000;
  }
}
.wrapper .gallery .item img {
  margin-right: 8px;
  margin-bottom: 23px;
  border: 1px solid #69665f;
}
.wrapper .gallery-nav {
  float: right;
}
.wrapper .gallery-content {
  clear: both;
}
.wrapper .gallery-content h3 {
  float: right;
}
@media (max-width: 1048px) {
  .wrapper .gallery-nav {
    width: 100% !important;
  }
  .wrapper .gallery-content h3 {
    width: 100% !important;
  }
}
