header .menu_block {
  background: #000000;
}
header .logo {
  width: 220px;
  float: none;
  margin: 0 auto;
}
header .logo span {
  display: none;
}
section {
  font-family: "Open Sans", sans-serif;
}
section .top_slider .slide1 .flex_caption1 .h1 {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
}
section .top_slider .slide1 .flex_caption1 .h2 {
  margin-left: 67px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}
section .top_slider .slide1 .flex_caption1 .title4 {
  font-size: 32px;
  width: 730px;
}
section .top_slider .slide1 .flex_caption1 .title4 span {
  margin-top: 5px;
  font-size: 24px;
  display: block;
}
section .flexslider.top_slider.mobile {
  background-image: url('../../images/ms/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto auto;
}
section .top_slider .slide_btn::before {
  right: 13px;
}
section .button {
  background: #000000;
  color: #ffffff;
  padding: 7px 10px;
  width: 200px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
}
section .button:hover {
  background: #FFFFFF;
  color: #000000;
}
/* Large desktop */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  section .top_slider .slide1 .flex_caption1 .h2 {
    font-size: 20px;
  }
  section .top_slider .slide1 .flex_caption1 .title4 {
    font-size: 20px;
    width: inherit;
  }
  section .top_slider .slide1 .flex_caption1 .title4 span {
    font-size: 16px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  section .top_slider .slide1 .flex_caption1 .h2 {
    font-size: 20px;
  }
  section .top_slider .slide1 .flex_caption1 .title4 {
    font-size: 20px;
    width: inherit;
  }
  section .top_slider .slide1 .flex_caption1 .title4 span {
    font-size: 16px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  a.menu_toggler {
    display: none !important;
  }
  section .top_slider .slide1 .flex_caption1 .h2 {
    font-size: 17px;
    margin-left: 0;
  }
  section .top_slider .slide1 .flex_caption1 .title4 {
    font-size: 17px;
    width: inherit;
  }
  section .top_slider .slide1 .flex_caption1 .title4 span {
    font-size: 15px;
  }
  section .top_slider .slide_btn::before {
    right: 13px;
    content: '';
  }
  section .button {
    font-size: 17px;
  }
  section .flexslider.top_slider {
    background: transparent;
    background-color: #333;
  }
}
