@fontDefault: "Open Sans",sans-serif;

header {
	.menu_block {
		background: #000000;
	}

	.logo {
		width: 220px;
		float: none;
		margin: 0 auto;

		span {
			display: none;
		}
	}
}

section {
	font-family: @fontDefault;

	.top_slider .slide1 .flex_caption1 {
		.h1 {		
			font-weight: bold;
			font-family: @fontDefault;
			margin-bottom: 5px;
		}
		.h2 {
			margin-left: 67px;
			font-family: @fontDefault;
			margin-bottom: 30px;
		}

		.title4 {
			font-size: 32px;
			width: 730px;

			span {
				margin-top: 5px;
				font-size: 24px;
				display: block;
			}
		}
	}

	.flexslider.top_slider.mobile {
		background-image: url('../../images/ms/bg.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto auto;
	}

	.top_slider .slide_btn::before {
		right: 13px;
	}

	.button {
		background: #000000;
		color: #ffffff;
		padding: 7px 10px;
		width: 200px;
		display: block;
		font-family: @fontDefault;
		font-size: 26px;
		&:hover {
			background: #FFFFFF;
			color: #000000;
		}
	}	
}

    /* Large desktop */
    @media (min-width: 1200px) {  }
     
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {  
    	section {
    		.top_slider .slide1 .flex_caption1 {
    			.h1 {

    			}
    			.h2 {
    				font-size: 20px;
    			}
    			.title4 {
    				font-size: 20px;
    				width: inherit;
    				span {
    					font-size: 16px;
    				}
    			}
    		}
    	}
    }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {  
    	section {
    		.top_slider .slide1 .flex_caption1 {
    			.h1 {

    			}
    			.h2 {
    				font-size: 20px;
    			}
    			.title4 {
    				font-size: 20px;
    				width: inherit;
    				span {
    					font-size: 16px;
    				}    				
    			}
    		}
    	}
    }
     
    /* Landscape phones and down */
    @media (max-width: 480px) { 
    	a.menu_toggler {
    		display: none !important;
    	}
    	section {
    		.top_slider .slide1 .flex_caption1 {
    			.h1 {

    			}
    			.h2 {
    				font-size: 17px;
    				margin-left: 0;
    				//margin-bottom: 10px;
    			}
    			.title4 {
    				font-size: 17px;
    				width: inherit;
    				span {
    					font-size: 15px;
    				}    				
    			}
    		}

			.top_slider .slide_btn::before {
				right: 13px;
				content: '';
			}    
			.button {
				font-size: 17px;
			}	

			.flexslider.top_slider {
				background: transparent;
				background-color: #333;
			}	
    	}
    }
