html, body {

}

.link(#ffffff, @colorGray);

body {
	background-color: transparent; 
	background-image: url('../images/bg/bg.jpg');	
	background-size: cover;
	//background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: top center;
}

.container {	
	width: 100%;
	padding: 0;
	margin: 0;	
	.row {
		margin-right: 0;
	}
}

.nav-row {	
	min-height: 38px;
	max-height: 999px;
	line-height: 34px;	
	background: #000000;		
}

.column-left {
	padding: 0;
	padding-left: 15px;
	padding-right: 8px;
}
.column-right {
	padding: 0;
	padding-right: 8px;
	max-width: 342px;
}

.language-box {
	max-width: 342px;
}



/* Large desktop */
@media (min-width: 1600px) { 
	.container {
		width: 90%;
	}
}


/* Landscape phone to portrait tablet */
@media (max-width: @widthPortraitTablet) { 
	body {
		background-image: none;
	}
	.column-left {
		padding-right: 0;
	}
}
