			h1, h2, h3, h4 {
				font-family: @fontDefault;
				font-size: 24px;
				color: #ffffff;		
				margin: 0;
				padding: 0;	
				margin-bottom: 6px;				
				.link(#ffffff, @colorGray);				
				a {
					font-size: 24px;
				}
					
			}
			h4 {
				font-size: 18px;
			}

			h5 {
				a {
					color: #ffffff;
				}
			}

			strong {
				color: #ffffff;
			}

			div {
				color: #ffffff;
			}

			span.position {
				color: #EAEAEA;
			}

			p {
				font-family: @fontDefault;
				font-size: @fontSizeDefault;
				color: #ffffff;
				margin: 6px 0;
				text-align: justify;
			}

			.left {
				float: left;
				margin-top: 6px;
				margin-right: 30px;
				margin-bottom: 10px;				
			}

			.right {
				float: right;
				margin-top: 6px;
				margin-left: 30px;
				margin-bottom: 10px;				
			}

			ul {
				margin: 10px 0;
				padding: 0;
				margin-left: 15px;				
				li {
					font-family: @fontDefault;
					font-size: @fontSizeDefault;
					color: #ffffff;					
					padding: 0;
					margin: 0;
				}
			}



			ol {
				margin: 10px 0;
				padding: 0;
				margin-left: 15px;
				li {
					font-family: @fontDefault;
					font-size: @fontSizeDefault;
					color: #ffffff;		
					padding: 0;
					margin: 0;								
				}
			}

			table {
				margin: 0;
				border-collapse: collapse;
				td {
					border: 1px solid #333;
					font-family: @fontDefault;
					font-size: @fontSizeDefault;
					color: #ffffff;		
					padding: 3px;			
				}
			}


			a {
				font-size: @fontSizeDefault;
			}

			.link(@linkColor, @colorGray);

			form {
				label {
					color: #FFFFFF;
					font-size: @fontSizeDefault;
					padding-right: 10px;
				}

				input[type=text], input[type=email] {
					height: 28px;
				}

				input[type=text], input[type=email], textarea {
					.rounded-corners(0);
					font-size: @fontSizeDefault;
					color: @colorGray;
				}

				input[type=submit] {
					.rounded-corners(0);
					font-size: @fontSizeDefault;					
					background: @colorRed;
					border: 0;
				}
			}