.fb-feed {
	background: #ffffff;	
	margin-top: 20px;
	overflow: hidden;
	width: 300px;
}
.calendar {
	color: #ffffff;
	.cal-nav {
		text-align: center;	
		font-size: 15px;
		font-family: @fontDefault;
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.cal-box {
		font-family: @fontContent;
		background: #000000;	
		line-height: normal;	
		table {
			width: 100%;
			thead {				
				tr {
					td {
						height: 18px;					
						font-size: 10px;
						padding-left: 2px;
						text-align: center;
					}
				}				
			}
			
			tbody {
				tr {
					td {
						height: 26px;
						border: 1px solid #363636;		
						font-size: 11px;				
						//padding-left: 2px;
						text-align: center;
						&.event {							
							a {
								color: #ffffff;
								background: @colorRed;
								display: block;
								height: 26px;
								line-height: 26px;
							}
							.link(#ffffff, #000000, @colorRed, #ffffff);
						}
						&.today {
							color: @colorGray;
						}	

						&:first-child {
							border-left: 0;
						}					
						&:last-child {
							border-right: 0;
						}					
					}
				}
			}
			
		}
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: @widthLandscapeTablet) { 
	.calendar {
		display: none;
	}
	.fb-feed {
		display: none;
	}
}