.content {
	.bx-wrapper {
		max-height: 600px;
		overflow: hidden;
	}
	.bxslider {
		margin: 0;
		padding: 0;
		margin-left: 10px;
		img {
			width: 100%;
		}
		li {
			list-style-type: none;
		}
	}	

	.bx-wrapper {
		.bx-controls {
			display: none;
		}
	}

	.column-content-right {
		padding-right: 17px;
	}

	.content-right {
		float: right;
		width: 100%;
	}

	.content-nav {		
		//background: transparent url('../images/text-bg.png') repeat;
		.bgColorOpacity(0.8);
		margin-bottom: 10px;
		float: right;
		ul {
			margin: 0;
			padding: 0;
			padding: 0 16px;
			padding-bottom: 0;
			li {
				display: inline-block;

				.link(#ffffff, #ffffff);
				
				a {
					font-family: @fontDefault;
					font-size: 15px;					
					line-height: 40px;
					padding-right: 6px;					
					text-transform: lowercase;

					&.active {
						text-decoration: underline;
					}

				}

				&.brand {
					//.link(@colorGray, #ffffff);
					margin-right: 15px;
					font-weight: bold;
					a {						
						text-transform: uppercase;
						letter-spacing: unset;
						&.active {
							text-decoration: none;
						}						
					}
				}

				&:last-child {
					a {
						padding-right: 0;
					}
				}

				&:nth-child(5) {  
					position: absolute;					
				}
				&:nth-child(6) {  
					position: absolute;
					right: 60px;
				}				
			}
		}
	}
	.content-text {
		clear: both;
		.box {
			//background: transparent url('../images/text-bg.png') repeat;
			.bgColorOpacity(0.7);
			margin-bottom: 10px;
		}

		.box {
			padding: 12px 16px;		
		}

		.date-select {
			font-size: 15px;
    		letter-spacing: 2px;
    		text-align: center;
    		text-transform: uppercase;		
    		font-family: @fontDefault;
    		color: #ffffff;
    		a {
    			color: #ffffff;
    		}
		}

		&.archive {
			h5 {
				margin: 2px 0;
			}
			strong {
				margin: 10px 0;
				display: block;
			}
		}
	}


}

@media (min-width: 1344px) {  

	.content {
		margin-left: @marginLeft;
	}

}

@media (max-width: @widthPortraitTablet) { 
	.content {
		.content-right {
			float: none;
			.content-nav {
				float: none;
			}
		}		
	}
}

@media (max-width: @widthLandscapeTablet) { 

	.content {
		.bxslider {
			display: none;
		}
	
		.column-content-right {
			padding-left: 30px;
		}	
	}
}