footer {
	width: 100%;

	.footer-content {
		//background-color: rgba(0, 0, 0, 0.5);
		//background: #000000;
		.bgColorOpacity(0.3, 255, 255, 255);		
		width: 100%;
		//margin-left: 10px;
		line-height: 35px;
		font-family: @fontDefault;
		img {
			//width: 120px;
		}

		.row {
			width: 80%;
			.col-md-8 {
				width: auto;
			}
			.col-md-4 {
				width: auto;
			}
		}



		.partners {
			line-height: normal;
			margin-bottom: 10px;
			margin-left: 10px;
			a {
				margin-right: 10px;
			}
			img {
				//width: 120px;				
			}
		}

		.partners-headering {
			font-family: @fontDefault;
			color: #ffffff;
			font-size: 15px;
			text-transform: lowercase;
			letter-spacing: 2px;
			margin-right: 40px;	
			margin-left: 10px;	
		}

		.link(#FFFFFF, @colorGray);
		i {
			color: #ffffff;
		}
		a {
			font-size: 12px;
		}
	}

	.copy {
		font-family: @fontDefault;
		font-size: 12px;
		color: #ffffff;
		.link(#FFFFFF, @colorGray);
		text-align: right;
	}
}

@media (max-width: @widthLandscapeTablet) { 
	footer {
		width: 100%;				
		.footer-content {
			//width: 97%;
			//margin-top: 10px;
		}	
	}
}
@media (max-width: @widthPortraitTablet) { 
	footer {
		width: 100%;		
		.footer-content {
			.partners-headering {
				color: #000000;
			}
			.copy {
				color: #000000;
				a {
					color: #000000;
				}
			}
		}	
	}
}