.gallery {
	.item {
		img {		
			margin-right: 8px;
			margin-bottom: 23px;
			border: 1px solid #69665f;	
		}
	}	
}

.gallery-nav {
	float: right;
}
.gallery-content {
	clear: both;
	h3 {
		float: right;
	}
}

@media (max-width: @widthLandscapeTablet) { 
	.gallery-nav {
		width: 100% !important;
	}
	.gallery-content {
		h3 {
			width: 100% !important;
		}
	}
}