nav.navbar {
	margin-bottom: 27px;
	.rounded-corners(0);


	.navbar-collapse {
		padding-right: 0px;
		//width: 66.6667%;
	}
	.navbar-header {
		margin-left: 10px;
	}	
	.navbar-brand {
		.reset;
		font-size: 23px;
		font-family: @fontDefault;
		text-transform: uppercase;		
		letter-spacing: 2px;
		color: #ffffff;
		line-height: 34px;
	}

	.navbar-nav {
		float: right;
		margin-right: 10px;			

		li {
			.link(#ffffff, @colorGray);
			a {
				.reset;
				font-size: 15px;				
				line-height: 34px;
				padding: 0 8px;
				letter-spacing: 2px;
				font-family: @fontDefault;
				text-transform: lowercase;
			}
		}
	}

	.navbar-toggle {
   		margin-top: 3px;
    	padding: 7px 6px;		
	}
}

.logo {
	margin-left: 10px;
}

.language-box {
	.lang {
		display: block;
		float: right;
		.bgColorOpacity(0.3, 255, 255, 255);		
		background-repeat: no-repeat;
		background-position: 12px center;
		text-align: right;
		&.en {
			background-image: url(../images/lang/en.png);		
		}

		//color: #4e4e4e;
		color: #ffffff;
		font-family: @fontDefault;
		font-size: 15px;
		letter-spacing: 2px;
		padding: 5px 12px;
		width: 135px;
	}
}

@media (min-width: 1344px) {  

	.logo {
		margin-left: @marginLeft;
	}

	nav.navbar {
		padding-left: @marginLeft;
	}

	.language-box {
		margin-left: -8px;		
	}
}

@media (max-width: 1344px) {  
	nav.navbar {
		.navbar-brand {
			font-size: 18px;			
		}
		.navbar-nav {
			li {
				a {
					//padding: 0 9%;
				}
			}
		}
	}	
	.top-menu, .logo-box {
		width: 74%;
	}

	.language-box {
		padding-right: 8px;
	}
}
/*
@media (min-width: 992px) and (max-width: 1042px) {  
	nav.navbar {
		.navbar-nav {
			li {
				a {
					padding: 0 5px;
				}
			}
		}
	}	
}

*/


/* Landscape phone to portrait tablet */
@media (max-width: @widthPortraitTablet) { 
	nav.navbar {	
		.navbar-brand {
			font-size: 18px;			
		}	
		.navbar-nav {
			width: 100%;
		}
	}

	.logo {
		display: none;
	}
}


@media (max-width: @widthLandscapeTablet) { 
	.column-content-right {
		width: auto !important;
		float: none !important;
		clear: both;
	}
	.content-right {
		width: auto !important;
		float: none !important;
	}
	.content-nav {
		width: auto !important;
		float: none !important;
	}
	.top-menu {
		width: 100%;
	}	

	.language-box {
		position: absolute;
		top: 0;
		right: 0;
	}

	nav.navbar {
		.navbar-nav {
			li {
				a {
					padding: 0 5px;					
				}
			}			
		}
	}
}
