.social-column {
	padding: 0;
	max-width: 108px;
}

.social {
	text-align: center;
	a {		
		img {			
			margin-right: 3px;	
		}	
	}
}

@media (max-width: 1344px) {  
	.social-column {
		display: block;
		width: 25%;
		margin-top: 10px;
	}
}

@media (max-width: @widthLandscapeTablet) { 
	.social-column {
		max-width: 9999px;
		width: 98%;
	}	
}