.reset () {
  margin: 0px; 
  padding: 0px; 
  border: none; 
  text-decoration: none; 
  list-style-type: none;
  background: none;  
  border-radius: 0;
  box-shadow: none;
  line-height: normal;
  position: static;
  float: none;
  height: auto;
  width: auto;
}

.bgColorOpacity(@opacity: 0.6, @r: 0, @g: 0, @b: 0) {
   /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(@r, @g, @b) transparent;

    /* RGBa with 0.6 opacity */
    background: rgba(@r, @g, @b, @opacity);

    /* For IE 5.5 - 7*/
    filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

    /* For IE 8*/
    -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.link(@color, @colorHover, @bgColor: transparent, @bgColorHover: transparent) {
    a {
        color: @color;
        -moz-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
        -ms-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
        -o-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
        -webkit-transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s;
        transition: color 450ms ease-in-out 0s, color 450ms ease-in-out 0s; 
        background: @bgColor;       
        
        &.active, &:hover {
            color: @colorHover;
            text-decoration: none;
            background: @bgColorHover;
        }
    }
}

.rounded-corners (@radius: 5px, @position: relative) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
    position: @position;
    behavior: url('/js/PIE.htc'); 
}

.rounded-corners-top(@radius, @position: relative) {
    -webkit-border-radius: @radius @radius 0 0;
    -moz-border-radius: @radius @radius 0 0;
    -ms-border-radius: @radius @radius 0 0;
    -o-border-radius: @radius @radius 0 0;
    border-radius: @radius @radius 0 0;
    position: @position;
    behavior: url('/js/PIE.htc');
}
.rounded-corners-right(@radius, @position: relative) {
    -webkit-border-radius: 0 @radius @radius 0;
    -moz-border-radius: 0 @radius @radius 0;
    -ms-border-radius: 0 @radius @radius 0;
    -o-border-radius: 0 @radius @radius 0;
    border-radius: 0 @radius @radius 0;
    position: @position;
    behavior: url('/js/PIE.htc');
}
.rounded-corners-bottom(@radius, @position: relative) {
    -webkit-border-radius: 0 0 @radius @radius;
    -moz-border-radius: 0 0 @radius @radius;
    -ms-border-radius: 0 0 @radius @radius;
    -o-border-radius: 0 0 @radius @radius;
    border-radius: 0 0 @radius @radius;
    position: @position;
    behavior: url('/js/PIE.htc');
}
.rounded-corners-left(@radius, @position: relative) {
    -webkit-border-radius: @radius 0 0 @radius;
    -moz-border-radius: @radius 0 0 @radius;
    -ms-border-radius: @radius 0 0 @radius;
    -o-border-radius: @radius 0 0 @radius;
    border-radius: @radius 0 0 @radius;
    position: @position;
    behavior: url('/js/PIE.htc');
}
.rounded-corner-top-right(@radius, @position: relative) {
    -webkit-border-top-right-radius: @radius;
    -moz-border-top-right-radius: @radius;
    -ms-border-top-right-radius: @radius;
    -o-border-top-right-radius: @radius;
    border-top-right-radius: @radius;
    position: @position;
    behavior: url('/js/PIE.htc');
}
.rounded-corner-top-left(@radius, @position: relative) {
    -webkit-border-top-left-radius: @radius;
    -moz-border-top-left-radius: @radius;
    -ms-border-top-left-radius: @radius;
    -o-border-top-left-radius: @radius;
    border-top-left-radius: @radius;
    position: @position;
    behavior: url('/js/PIE.htc');
}
.rounded-corner-bottom-right(@radius, @position: relative) {
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-bottom-right-radius: @radius;
    -ms-border-bottom-right-radius: @radius;
    -o-border-bottom-right-radius: @radius;
    border-bottom-right-radius: @radius;
    position: @position;
    behavior: url('/js/PIE.htc');
}
.rounded-corner-bottom-left(@radius, @position: relative) {
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-bottom-left-radius: @radius;
    -ms-border-bottom-left-radius: @radius;
    -o-border-bottom-left-radius: @radius;
    border-bottom-left-radius: @radius;
    position: @position;
    behavior: url('/js/PIE.htc');
}

.gradient (@from: #eeeeee, @to: #ffffff, @position: relative) {
    background: @from;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(@from), to(@to));
    background: -webkit-linear-gradient(@from, @to);
    background: -moz-linear-gradient(@from, @to);
    background: -ms-linear-gradient(@from, @to);
    background: -o-linear-gradient(@from, @to);
    background: linear-gradient(@from, @to);
    -pie-background: linear-gradient(@from, @to);
    position: @position;
    behavior: url('/js/PIE.htc'); 
}
.dropShadow {
    -webkit-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1); 
    behavior: url('/js/PIE.htc');
}

.boxShadow(@r: 0, @g: 0, @b: 0) {
 -webkit-box-shadow: rgba(@r,@g,@b,0.8) 0px 0 10px;
 -moz-box-shadow: rgba(@r,@g,@b,0.8) 0 0 10px;
 box-shadow: rgba(@r,@g,@b,0.8) 0 0 10px;   
}

/*Lichoběžník*/
.skew (@degree: 20deg ) {
    -webkit-transform: skew(@degree);
    -moz-transform: skew(@degree);
    -ms-transform: skew(@degree);
    -o-transform: skew(@degree);
    transform: skew(@degree);        
}
.transform (@degree: 90deg) {
    transform:rotate(@degree);
    -ms-transform:rotate(@degree); /* IE 9 */
    -webkit-transform:rotate(@degree); /* Opera, Chrome, and Safari */
}