@fontDefault: "Open Sans",sans-serif;
@fontContent: "Arial";
@fontSizeDefault: 12px;

@colorGray: #797979;
@colorRed: #b90000;
@colorGold: #FFA22C;
@linkColor: @colorGold;

@widthPortraitTablet: 767px;
@widthLandscapeTablet: 1048px; //992px;

@marginLeft: 20px;