/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 76px;
}
.footer {
  position: absolute;
  bottom: 0;  
  /* Set the fixed height of the footer here */
  height: 76px; 
}